opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
PyYAML==6.0.2
torch==2.6.0 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cpu
onnxruntime==1.22.0